<form>
  <div class="input-group">
    {{input value=title  class="form-control" id="goalTitleInput" placeholder="E.g. Learn German"}}
    <span class="input-group-btn">
      <button {{action "addGoal"}} type="submit" class="btn btn-success btn-input">Add Goal</button>
    </span>
  </div>
</form>
