<form>
  <div class="input-group">
    {{input value=title  class="form-control" placeholder="E.g. Buy books"}}
    <span class="input-group-btn">
      <button {{action "addStep"}} type="submit" class="btn btn-success btn-input">Add Step</button>
    </span>
  </div>
</form>
