<form>
  <div class="input-group">
      {{input value=title  class="form-control" id="habitTitleInput" placeholder="E.g. Meditate"}}
     <span class="input-group-btn">
       <button {{action "addHabit"}} type="submit" class="btn btn-success btn-input">Add Habit</button>
     </span>
  </div>
</form>
