@import "bootstrap";
@import "partials/colours";
@import "partials/buttons";

html, body{
  height:100%;
}
body{
  background-color: $global-background;
  padding-top: 5em;
}
.card{
  background-color: white;
  border: 1px solid $border-primary;
  border-radius: 1px;
  padding:1em;
}
.add-goal{
  margin-bottom: 15px;
  .input-group{
    width:100%;
  }
  input.ember-text-field{
    height:40px;
  }
}

input.ember-text-field, textarea.ember-text-area{
  border-radius:3px;
  background-color: white;
  border-color: $border-primary;
  box-shadow:none;
  -webkit-box-shadow:none;
}
