@import "bootstrap";
@import "partials/colours";
@import "partials/buttons";
@import "partials/layout";
@import "partials/typeography";
@import "components/datepicker";
@import "components/habits";
@import "components/navbar";
@import "components/steps";

html, body{
  height:100%;
}
body{
  background-color: $global-background;
  padding-top: 5em;
}

*:focus, *:active, *:focus:active{
  outline:none !important;
}

.card{
  background-color: white;
  border: 1px solid $border-primary;
  border-radius: 2px;
  padding:1em;
}

.goal-list-card{
  margin-bottom: 1em;
}

.add-goal, .add-item{
  margin-bottom: 15px;
  .input-group{
    width:100%;
  }
  input.ember-text-field{
    height:40px;
  }
}

textarea{
  resize: vertical;
}

input.ember-text-field, textarea.ember-text-area{
  border-radius:3px;
  background-color: white;
  border: 1px solid $border-primary;
  box-shadow:none;
  -webkit-box-shadow:none;
}

.tooltip.top{
  padding: 1em;
}
