
@mixin button-maker($color,$hover-color){
  border-color: $color;
  color:$color;
  &:active, &:focus, &:active:focus{
    border-color: $color;
    color:$color;
    background-color: white;
    box-shadow:none;
    -webkit-box-shadow:none;
    // outline:2px auto $color;
  }
  &:hover{
    background-color: white;
    color: $hover-color;
    border-color: $hover-color;
  }
}

.btn{
  border-radius: 3px;
  background-color:white;
  border: 1px solid;
}

.btn-input{
  height:40px;
}
.btn-round{
  border-radius: 200px;
  padding: 0.4em 0.4em 0.4em 0.4em;
  height:2em;
  width:2em;
  margin-left: 0.5em;
}
.btn-default{
  @include button-maker($primary-grey, $secondary-grey);
}

.btn-primary{
  @include button-maker($primary-blue, $secondary-blue);
}

.btn-success{
  @include button-maker($primary-green, $secondary-green);
}
.btn-danger{
  @include button-maker($primary-red, $secondary-red);
}
