@mixin button-maker($color,$hover-color){
  border-color: $color;
  color:$color;
  &:active, &:focus, &:active:focus{
    border-color: $color;
    color:$color;
    background-color: white;
    box-shadow:none;
    -webkit-box-shadow:none;
  }
  &:hover{
    background-color: white;
    color: $hover-color;
    border-color: $hover-color;
  }
}

.btn{
  border-radius: 3px;
  background-color:white;
  border: 1px solid;
}

.btn-input{
  height:40px;
}

.btn-default{
  @include button-maker($primary-grey, $secondary-grey);
}

.btn-primary{
  @include button-maker($primary-blue, $secondary-blue);
}

.btn-success{
  @include button-maker($primary-green, $secondary-green);
}
.btn-danger{
  @include button-maker($primary-red, $secondary-red);
}

.day-list {text-align:justify;}
.day-list > a {
  display: inline-block;
  border-radius: 200px;
  border: 1px solid $primary-grey;
  width: 1.7em;
  height: 1.7em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 1.6;
  color: $primary-grey;
  &.day-active{
    border: 2px solid $secondary-blue;
    color: $secondary-blue;
    font-weight: bold;
  }
  &:hover{
    border: 2px solid $secondary-grey;
    color: $secondary-grey;
    font-weight: bold;
  }
}
.day-list:after { content:' '; display:inline-block; width: 100%; height: 0 }
