//Secondary colours are darker.
$primary-blue: #3498db;
$secondary-blue: #2980b9;

$primary-green: #2ecc71;
$secondary-green: #27ae60;

$primary-red:#e74c3c;
$secondary-red:#c0392b;

$primary-grey:#95a5a6;
$secondary-grey:#7f8c8d;
$hover-grey:#eeeeee;
$subtle-grey:#f9f9f9;

$global-background: #fafafa;
$border-primary: #edeeee;
