.datepicker{
  td.day{
    border-radius: 200px !important;
    border: none !important;
    background-image: none !important;
    &.active{
      background-color: $secondary-green !important;
    }
    &.today{
      font-weight: bold;
      color: $secondary-blue;
      background-color: white;
      &:hover{
        background-color: $hover-grey !important;
      }
   }
   &.active.today{
    color: white;
    &:hover{
      background-color: $secondary-green !important;
    }
   }
  }
}
.datepicker-inline{
  float: none;
  margin: auto;
}
