.habit-list{
  padding:1em;
}
.habit-col{
  padding:0 0.5em 0 0.5em;
}
.habit-card{
  border: 1px solid $border-primary;
  background-color: $subtle-grey;
  border-radius:3px;
  padding:0.6em;
  margin:0.5em 0 0.5em 0;
  .habit-title{
    cursor: pointer;
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }
  .row{
    padding-bottom: 1em;
  }
}
