<div class="container">
{{#link-to "application"}}<h2 id="title">Dreamer</h2>{{/link-to}}
{{#link-to "goals"}}View Goals{{/link-to}}
{{#link-to "goals.new"}}Create new goal{{/link-to}}
{{outlet}}
</div>
