<div class="row">
  <div class="col-xs-12 col-md-4">
    {{add-goal}}
    <div class="card">
      {{goal-list goals=model.goals}}
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="card">
      {{outlet}}
    </div>
  </div>
</div>
